# IntelliJ

*.iml

## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws

.settings/
target/
.project
.classpath
nbactions.xml
nb-configuration.xml
*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
